<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<select id="selectMember" parameterType="String" resultType="ucamp.dao.MemberVO">
		select member_id as memberId, pw, name from member_data where
		member_id= #{id}
	</select>

	<select id="selectMemberList" resultType="ucamp.dao.MemberVO">
		select member_id as memberId, name from member_data
	</select>

	<insert id="addMember" parameterType="ucamp.dao.MemberVO">
		insert into member_data(member_id, pw, name) values (#{memberId}, #{pw}, #{name})
	</insert>
	<update id="updateMember" parameterType="ucamp.dao.MemberVO">
		update member_data set pw=#{pw} where member_id=#{memberId}
	</update>
	
	<delete id="removeMember" parameterType="String">
		delete from member_data where member_id=#{memberId}
	</delete>
</mapper>
